button.make-green {
  background-color: #94d7a2;
}

button.make-red {
  background-color: #f8bcbc;
}

button.make-selected {
  background-color: rgb(188, 165, 242);
}

.choice-button {
  border: 0.8px solid #4d5b9e;
  background-color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
  cursor: pointer;
  min-height: 30px;
  min-width: 100px;
  max-width: 150px;
}

button.make-red,
button.make-selected {
  border: 0.8px;
}

.light {
  opacity: 0.5;
  pointer-events: none;
  border: none;
}

.button-text {
  font-family: "Inter";
  font-weight: 500;
  font-size: 12px;
  background: none;
}
