.question-list {
  display: flex;
  flex-direction: column;
}

.questions-footer {
  display: flex;
  align-items: center;
  gap: 40px;
}

.score {
  font-family: "Inter";
  font-weight: 700;
  font-size: 15px;
}

.questions-submit {
  width: 130px;
  min-height: 40px;
  background: #4d5b9e;
  border-radius: 10px;
  border: none;
  font-family: "Inter";
  font-weight: 600;
  font-size: 14px;
  color: #f5f7fb;
  cursor: pointer;
}

.questions-page {
  padding: 40px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.disabled-button {
  pointer-events: none;
  opacity: 0.5;
}
