.question-text {
  font-weight: 700;
  font-size: clamp(8px, 4vw, 18px);
  line-height: 20px;
  margin: 15px auto;
  max-width: 70%;
}

.question-border {
  border: 0.794239px solid black;
  margin: 20px auto 30px;
  width: 600px;
}

.question-buttons {
  display: flex;
  gap: 15px;
  max-width: 70%;
  margin: 0 auto;
}

.question {
  width: 100%;
}

/* Styles for screens smaller than 470px */
@media screen and (max-width: 470px) {
    .question-text {
        max-width: 50%;
    }
  }
  
  @media screen and (max-width: 500px) {
    .question-buttons {
        width: 50%;
    }
    
  }
