.start-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.start-title {
  margin: 0px;
  position: relative;
  bottom: 20px;
  font-size: 50px;
}

.start-text {
  font-family: Inter;
}

.form-button {
  height: 50px;
  width: 200px;
  border-radius: 15px;
  border: none;
  background-color: #4d5b9e;
  cursor: pointer;
  font-family: Inter;
  cursor: pointer;
  font-weight: 500;
  color: white;
}

.start-form {
  margin-bottom: 15px;
  border-radius: 5px;
  display: table;
  font-size: 20px;
  margin: 30px;
  font-weight: 800;
}

.settings-select {
  width: 200px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  font-weight: 500;
}

.form-label,
.settings-select {
  margin: 10px;
  display: table-cell;
  border-right: 200px solid transparent;
  border: 8px solid transparent;
  width: 250px;
}

.form-element {
  display: table-row;
}
