.start-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.start-title {
  margin: 0px;
  position: relative;
  bottom: 20px;
  font-size: clamp(30px, 4vw, 50px);
}

.start-text {
  font-family: Inter;
}

.form-button {
  height: 50px;
  width: 200px;
  border-radius: 15px;
  border: none;
  background-color: #4d5b9e;
  cursor: pointer;
  font-family: Inter;
  cursor: pointer;
  font-weight: 500;
  color: white;
  transition: 0.5s all;
}

.form-button:hover {
  background-color: #94d7a2;
}

.start-form {
  margin-bottom: 15px;
  border-radius: 5px;
  display: table;
  font-size: clamp(10px, 4vw, 20px);
  margin: 30px;
  font-weight: 800;
}

.settings-select {
  width: 250px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 10px 10px 10px 50px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s all;
}

.settings-select:hover {
  background-color: skyblue;
}

.form-label,
.settings-select {
  display: table-cell;
  border-right: 200px solid transparent;
  border: 8px solid transparent;
}

.form-element {
  display: table-row;
}

@media screen and (max-width: 520px) {
    .settings-select {
        width: 150px;
    }
  }